*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

body{
	display: flex;
	flex-direction: column;
	background-color: #222;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

.header{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #444;
	color: #ccc;
	min-height: 50px;
	width: 100vw;
}

.header h1{
	margin-left: .5em;
	cursor: pointer;
}

.pages-container .pages{
	margin: 2px;
	margin-left: 2px;
	text-decoration: none;
	color: #333;
	background-color: #888;
	padding: 5px;
	border-radius: 5px;
	font-weight: bold;
}

.pages-container{
	margin-right: .5em;
}

.pages-container .inhere{
	background-color: #ccc;
	color: #444;
}

.pages:active{
	background-color: #eee;
	color: #888;
}

.main{
	flex: 1 0 auto;
}

.section{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ccc;
	color: #222;
	max-width: 600px;
	padding: 10px;
	border-radius: 0px 0px 8px 8px;
	margin: auto;
}

.section p{
	color: #333;
	text-align: center;
	margin-top: 1em;
}

.section h1{
	font-size: 2em;
}

.footer{
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	background-color: #444;
	color: #ccc;
	padding: 5px;
}

.footer p{
	width: 99.2vw;
	text-align: center;
}

.footer p a{
	color: #ccc;
	text-decoration: none;
}

.footer p a:hover{
	text-decoration: underline;
}